<?xml version="1.0" encoding="UTF-8"?>

<!-- This is application version number, update for each release -->
<?define Version = "2.3.5" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="Siren of Shame $(var.Version)" Language="1033" Manufacturer="Automated Architecture"
           Version="$(var.Version)" UpgradeCode="F069A490-0830-4288-9AB3-508DB7FC406C">
		<Package InstallerVersion="200" Compressed="yes" />

    <Condition Message="A later version of Siren of Shame is already installed.">NOT NEWERVERSIONDETECTED</Condition>

    <PropertyRef Id="NETFRAMEWORK45"/>

    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>
    
    <Upgrade Id="F069A490-0830-4288-9AB3-508DB7FC406C">
      <!-- IncludeMinimum=no so we can re-install the current version from the msi -->
      <UpgradeVersion Minimum="$(var.Version)" IncludeMinimum="no" 
                      OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(var.Version)" IncludeMaximum="yes" 
                      OnlyDetect="no" Property="PREVIOUSVERSIONSINSTALLED" />
    </Upgrade>

    <CustomAction Id="LaunchFile" Directory="INSTALLLOCATION" ExeCommand="[INSTALLLOCATION]SirenOfShame.exe" Return="asyncNoWait" />

    <InstallExecuteSequence>
      <RemoveExistingProducts Before="InstallInitialize" />
      <Custom Action='LaunchFile' After='InstallFinalize'>NOT Installed</Custom>
    </InstallExecuteSequence>
    
    <Media Id="1" Cabinet="SirenOfShame.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="Siren of Shame">
          <Directory Id="Sox" Name="Sox" />
          <Directory Id="Plugins" Name="Plugins" />
				</Directory>
			</Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs" />
      <Directory Id="StartupFolder" Name="StartupFolder" />
    </Directory>

    <DirectoryRef Id="Plugins">
      <Component Id="PluginsComponent" Guid="A12F0669-DC76-4118-A95F-29E97223FB57">
        <RemoveFile Id="PurgePluginsFolder" Name="*.*" On="install" />

        <File Source="..\SirenOfShame.Lib\bin\Release\UsbLib.dll" Id="UsbLibDll2" />
        <File Source="..\SirenOfShame.Lib\bin\Release\TeensyHidBootloaderLib.dll" Id="TeensyHidBootloaderLibDll2" />
        <File Source="..\SirenOfShame.Lib\bin\Release\SoxLib.dll" Id="SoxLibDll2" />
        <File Source="..\packages\log4net.2.0.3\lib\net40-full\log4net.dll" Id="Log4NetDll2" />
        <File Source="..\packages\SignalR.Client.0.5.3\lib\net40\SignalR.Client.dll" />
        <File Source="..\packages\Newtonsoft.Json.6.0.5\lib\net45\Newtonsoft.Json.dll" />
        <File Source="..\packages\System.Linq.Dynamic.1.0.0\lib\net40\System.Linq.Dynamic.dll" />
        <File Source="..\SirenOfShame\bin\Plugins\SirenOfShame.Lib.dll" Id="SirenOfShameLibDll2" />

        <File Source="..\SirenOfShame\bin\Plugins\BuildBotServices.dll" />
        <File Source="..\SirenOfShame\bin\Plugins\TravisCiServices.dll" />
        <File Source="..\SirenOfShame\bin\Plugins\BambooServices.dll" />
        <File Source="..\SirenOfShame\bin\Plugins\CruiseControlNetServices.dll" />
        <File Source="..\SirenOfShame\bin\Plugins\HudsonServices.dll" />
        <File Source="..\SirenOfShame\bin\Plugins\TeamCityServices.dll" />
        <File Source="..\SirenOfShame\bin\Plugins\TfsServices.dll" />
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="Sox">
      <Component Id="SoxComponent" Guid="A884EFC1-4078-47DC-BABD-CA90F590A78E">
        <File Source="..\Libs\sox-14.3.2\wget.exe" />
        <File Source="..\Libs\sox-14.3.2\sox.exe" />
        <File Source="..\Libs\sox-14.3.2\pthreadgc2.dll" />
        <File Source="..\Libs\sox-14.3.2\LICENSE.GPL.txt" />
        <File Source="..\Libs\sox-14.3.2\libmp3lame.dll" />
        <File Source="..\Libs\sox-14.3.2\libmad.dll" />
        <File Source="..\Libs\sox-14.3.2\libgomp-1.dll" />
        <File Source="..\Libs\sox-14.3.2\zlib1.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="MainExecutable" Guid="907D3D28-0FCE-49B2-87CE-4670A57F286C">
        <!-- ensure the app folder is empty prior to install, this fixes the issue of 1.5.x having been installed 'per-user' and thus not cleaning up after itself nicely on upgrade -->
        <RemoveFile Id="PurgeAppFolder" Name="*.*" On="install" />

        <Shortcut Id="StartMenuSirenOfShameExe" Directory="ProgramMenuFolder" Name="Siren of Shame" Icon="SirenOfShame.exe" IconIndex="0" Advertise="yes" WorkingDirectory="INSTALLLOCATION" />
        <Shortcut Id="StartupMenuSirenOfShameExe" Directory="StartupFolder" Name="Siren of Shame" Icon="SirenOfShame.exe" IconIndex="0" Advertise="yes" WorkingDirectory="INSTALLLOCATION" />

        <File Id="SirenOfShameExe" Name="SirenOfShame.exe" Source="..\SirenOfShame\bin\SirenOfShame.exe" KeyPath="yes" />
        <File Source="..\SirenOfShame\bin\SirenOfShame.exe.config" />
        <File Source="..\SirenOfShame\bin\Plugins\SirenOfShame.Lib.dll" Id="SirenOfShameLibDll1" />
        <File Source="..\SirenOfShame\bin\FirmwareUpgrade.xml" />
        <File Id="SirenOfShameTrayBlankIco" Name="SirenOfShameTrayBlank.ico" Source="..\SirenOfShame\SirenOfShameTrayBlank.ico" />

        <File Source="..\packages\log4net.2.0.3\lib\net40-full\log4net.dll" Id="Log4NetDll1" />

        <File Source="..\SirenOfShame\bin\wyUpdate.exe" />
        <File Source="..\Libs\ZedGraph.dll" />
        <File Source="..\UsbLib\bin\Release\UsbLib.dll" Name="UsbLib.dll" Id="UsbLib1"/>
        <File Source="..\TeensyHidBootloaderLib\bin\Release\TeensyHidBootloaderLib.dll" Id="TeensyHidBootloaderLibDll1" />
        <File Source="..\SoxLib\bin\Release\SoxLib.dll" Id="SoxLibDll1" />
        <File Source="..\Releases\wyUpdate\client.wyc" />
        <File Source="..\Libs\wyUpdate\AutomaticUpdater.dll" />

        <File Source="..\Libs\TeamFoundation\Microsoft.TeamFoundation.Build.Client.dll" />
        <File Source="..\Libs\TeamFoundation\Microsoft.TeamFoundation.Build.Common.dll" />
        <File Source="..\Libs\TeamFoundation\Microsoft.TeamFoundation.Client.dll" />
        <File Source="..\Libs\TeamFoundation\Microsoft.TeamFoundation.Common.dll" />
        <File Source="..\Libs\TeamFoundation\Microsoft.TeamFoundation.Common.Library.dll" />
        <File Source="..\Libs\TeamFoundation\Microsoft.TeamFoundation.dll" />
        <File Source="..\Libs\TeamFoundation\Microsoft.TeamFoundation.VersionControl.Client.dll" />
        <File Source="..\Libs\TeamFoundation\Microsoft.TeamFoundation.VersionControl.Common.dll" />
        <File Source="..\Libs\TeamFoundation\Microsoft.TeamFoundation.VersionControl.Common.Integration.dll" />
        <File Source="..\Libs\TeamFoundation\Microsoft.TeamFoundation.WorkItemTracking.Client.Cache.dll" />
        <File Source="..\Libs\TeamFoundation\Microsoft.TeamFoundation.WorkItemTracking.Client.DataStore.dll" />
        <File Source="..\Libs\TeamFoundation\Microsoft.TeamFoundation.WorkItemTracking.Client.dll" />
        <File Source="..\Libs\TeamFoundation\Microsoft.TeamFoundation.WorkItemTracking.Client.Provision.dll" />
        <File Source="..\Libs\TeamFoundation\Microsoft.TeamFoundation.WorkItemTracking.Client.QueryLanguage.dll" />
        <File Source="..\Libs\TeamFoundation\Microsoft.TeamFoundation.WorkItemTracking.Client.RuleEngine.dll" />
        <File Source="..\Libs\TeamFoundation\Microsoft.TeamFoundation.WorkItemTracking.Proxy.dll" />
        <File Source="..\Libs\TeamFoundation\Microsoft.VisualStudio.Services.Common.dll" />
        <File Source="..\Libs\TeamFoundation\Microsoft.TeamFoundation.WorkItemTracking.Common.dll" />
      </Component>
    </DirectoryRef>

    <Icon Id="SirenOfShameTrayBlankIco" SourceFile="..\SirenOfShame\SirenOfShameTrayBlank.ico"/>
    <Icon Id="SirenOfShame.exe" SourceFile="..\SirenOfShame\bin\SirenOfShame.exe"/>
    
    <Property Id='ARPCOMMENTS'>any comments</Property>
    <Property Id='ARPCONTACT'>support@sirenofshame.com</Property>
    <Property Id='ARPHELPLINK'>http://sirenofshame.com</Property>
    <Property Id='ARPURLINFOABOUT'>http://sirenofshame.com</Property>
    <Property Id='ARPURLUPDATEINFO'>http://code.google.com/p/siren-of-shame/downloads/list</Property>
    <Property Id='ARPSIZE'>15852</Property>
    <Property Id='ARPPRODUCTICON'>SirenOfShameTrayBlankIco</Property>
    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Property Id="ALLUSERS">2</Property> <!-- ALLUSERS=2; i.e. install per-machine not per-user -->
    
		<Feature Id="ProductFeature" Title="SirenOfShame.WixSetup" Level="1">
      <ComponentRef Id="MainExecutable"/>
      <ComponentRef Id="SoxComponent"/>
      <ComponentRef Id="PluginsComponent"/>
      
			<!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
			<ComponentGroupRef Id="Product.Generated" />
		</Feature>
	</Product>
</Wix>
