<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="libMyCppLib" target="@executable_path/../Resources/libMyCppLib.dylib" />
	<dllmap dll="libhidapi.dylib" target="@executable_path/../Resources/libhidapi.dylib" />
	<dllmap dll="libhidapi.0.dylib" target="@executable_path/../Resources/libhidapi.0.dylib" />
</configuration>
