<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.SignalR.Client" version="2.1.0" targetFramework="xamarinmac20" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="xamarinmac20" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="xamarinmac20" />
  <package id="Microsoft.Net.Http" version="2.1.10" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="xamarinmac20" />
</packages>