<?xml version="1.0" encoding="UTF-8"?>
<!-- This is application version number, update for each release -->
<?define Version = "2.3.6" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Shame Extruder $(var.Version)" Language="1033" Manufacturer="Automated Architecture"
           Version="$(var.Version)" UpgradeCode="FFF503D6-DA4C-4D06-9620-B6B83FD6EAFD">
		<Package InstallerVersion="200" Compressed="yes" />

    <Condition Message="A later version of the Shame Extruder is already installed.">NOT NEWERVERSIONDETECTED</Condition>

    <PropertyRef Id="NETFRAMEWORK45"/>

    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="SirenOfShame.Extruder.WixSetup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SirenOfShame.Extruder.WixSetup" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>